body {
    padding: 0;
    margin: 0;
}


.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#root {
    height: 100vh;
}

.drawer {
    padding: 20px;
}

.drawer-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.drawer-item img {
    margin-right: 5px;
}

.drawer-item p {
    margin-right: 5px;
}

.drawer-item .title {
    width: 300px;
}

.drawer-item .price {
    width: 70px;
    font-weight: bold;
}

.drawer-item .delete-button {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(185, 75, 75);
    border: none;
    color: #fff;
    width: 50px;
    cursor: pointer;
}